# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: |
            bc bison build-essential ccache curl flex g++-multilib gcc-multilib git git-lfs gnupg gperf
            imagemagick lib32readline-dev lib32z1-dev libelf-dev liblz4-tool libncurses5 libncurses5-dev
            libsdl1.2-dev libssl-dev libxml2 libxml2-utils lzop pngcrush rsync schedtool squashfs-tools xsltproc zip
            zlib1g-dev
            adb fastboot
            python-is-python3
            nfs-common cachefilesd
          version: 1.0
          
      - name: lib32ncurses-dev install
        run: sudo apt-get install lib32ncurses5-dev
        
      - name: Install repo
        run: |
          mkdir -p ~/bin
          curl https://storage.googleapis.com/git-repo-downloads/repo > ~/bin/repo
          chmod a+x ~/bin/repo
          
      - name: start cachefilesd
        run: |
          sudo sh -c "echo RUN=yes >> /etc/default/cachefilesd"
          sudo systemctl restart cachefilesd
          sudo systemctl status cachefilesd
      - name: mount lineage
        run: |
          mkdir /lineage_os
          mkdir /tmp/upperdir
          mkdir /tmp/workdir
          mkdir ~/android
          mkdir ~/android/lineage
          sudo mount -t nfs -o nfsvers=3,fsc -vvvv 1.239.69.43:/lineage_os /lineage_os
          sudo mount -t overlay -o lowerdir=/lineage_os,upperdir=/tmp/upperdir,workdir=/tmp/workdir none ~/android/lineage
          cd lineage
          ls -lh
      # Runs a single command using the runners shell
      - name: start build
        run: |
          export USE_CCACHE=1
          export CCACHE_EXEC=/usr/bin/ccache
          export CCACHE_DIR=/mnt/ccache
          sudo mkdir /mnt/ccache
          ccache -M 15G
          ccache -o compression=true
          cd ~/android/lineage
          source build/envsetup.sh
          breakfast beyond1lte
          croot
          brunch beyond1lte
          cd $OUT
          ls -lh
